
body {
    position:relative;
    background-image: url(https://i.imgur.com/1phzoxB.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    height: 1000px;
    max-width: auto;
}
*{
    font-family: serif;
}



/* 導覽區 design */
ul.nav p{
    font-size: 25px;
    text-align:center;
    margin:0px auto;
}

body ul{
    position:relative;
    text-align: center;
    display:block;
    margin:0px;
}


ul.nav{
    background-color: black;
}
/* li.nav-item{
    display:block;
    margin:auto;
} */

/* 內容區 design no party */

/* .row>.FirstImg{
    top:100px;
} */

body .tab-content{
    position:relative;
    margin:0px auto;
    height:auto;
}

.col-12,.col-xs-12,.col-md-12,.col-lg-12{
    color:aliceblue;
    text-align:center;
    width:auto;
    height:750px;
    position: relative;
    margin:0px auto;
    display:block;
}

.col-12,.col-xs-12,.col-md-12,.col-lg-12{
    position: relative;
    margin:0px auto;
}

.FirstImg{
    top:50px;
}

body .tab-content h3{
    text-align:center;
    position:relative;
    top:50px;
    color:antiquewhite;
    font-weight: 1000;
}

body .icon{
    position:relative;
    margin:0px auto;
}
body .icon{
    letter-spacing: 15px;
}

body .icon i:hover{
    color:skyblue;
}

img{
    border-radius: 5px;
    display: block;
    margin:0px auto;
    max-width:100%;
}


/* Final Section */

body #section5{
    background-image:url(https://i.imgur.com/WiHcgRV.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
    height: 400px;
    max-width: 100%;
}

#section5_text{
    position:relative;
    margin:0px auto;
    color:antiquewhite;
    text-align:center;
    top:25%;
    word-spacing:10px;
}

#section5_icon{
    position:relative;
    margin:0px auto;
    color:antiquewhite;
    text-align:center;
    top:25%;
    word-spacing:20px;
}


#foorter{
    background-color:black;
    height:100px;
    max-width: 100%;
    position:relative;
    margin:0px auto;
    color:antiquewhite;
    text-align:center;
}

#copyright{
    position:relative;
    top:30%;
}

#section5_icon *:hover{
    color:peachpuff;
}

